<div class="container-fluid">
    <div class="print-hide" ng-include="'app/shared/leftMenu/leftMenuView.html'"></div>
    <div class="dashboard-content" role="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-8">
                    <h3>Seznam uporabnikov</h3>
                </div>
                <div class="col-xs-4 text-right">
                    <button type="print" class="btn btn-default" ng-click="print()"><span class="fa fa-print"></span></button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <button type="prev" class="btn btn-xs btn-default" ng-click="prevPage()" ng-disabled="skip == 0"><span class="fa fa-chevron-left"></span></button>
                    {{((skip / take) | floor) + 1}} / {{(users['odata.count'] / take) | ceil}}
                    <button type="next" class="btn btn-xs btn-default" ng-click="nextPage()" ng-disabled="skip + take >= users['odata.count']"><span class="fa fa-chevron-right"></span></button>
                </div>
                <div class="col-xs-4 text-right">
                    Število na stran: 
                    <select ng-model="take">
                        <option value="5" ng-selected="take == 5">5</option>
                        <option value="25" ng-selected="take == 25">25</option>
                        <option value="50" ng-selected="take == 50">50</option>
                        <option value="100" ng-selected="take == 100">100</option>
                    </select>
                </div>
            </div>
            <table class="table table-condensed">
                <thead>
                    <tr >
                        <th>#</th>
                        <th>
                            <a href="" ng-click="orderBy('Email')">Email <span class="fa" ng-class="{'fa-sort-asc': orderby == 'Email' && orderdesc == false, 'fa-sort-desc': orderby == 'Email' && orderdesc == true}"></span></a>
                        </th>
                        <th>
                            <a href="" ng-click="orderBy('EmailConfirmed')">Potrjen <span class="fa" ng-class="{'fa-sort-asc': orderby == 'EmailConfirmed' && orderdesc == false, 'fa-sort-desc': orderby == 'EmailConfirmed' && orderdesc == true}"></span></a>
                        </th>
                        <th>
                            <a href="" ng-click="orderBy('CreatedOn')">Datum registracije  <span class="fa" ng-class="{'fa-sort-asc': orderby == 'CreatedOn' && orderdesc == false, 'fa-sort-desc': orderby == 'CreatedOn' && orderdesc == true}"></span></a>
                        </th>
                        <th>
                            <a href="" ng-click="orderBy('LastLogin')">Datum prijave  <span class="fa" ng-class="{'fa-sort-asc': orderby == 'LastLogin' && orderdesc == false, 'fa-sort-desc': orderby == 'LastLogin' && orderdesc == true}"></span></a>
                        </th>
                        <th>
                            <a href="" ng-click="orderBy('LastLoginIp')">IP naslov  <span class="fa" ng-class="{'fa-sort-asc': orderby == 'LastLoginIp' && orderdesc == false, 'fa-sort-desc': orderby == 'LastLoginIp' && orderdesc == true}"></span></a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="{{user.Id}}" ng-repeat="user in users">
                        <td>{{$index + 1 + skip}}</td>
                        <td>{{user.Email}}</td>
                        <td><span class="fa" ng-class="{'fa-check': user.EmailConfirmed == true, 'fa-times': user.EmailConfirmed == false}"></span></td>
                        <td>{{user.CreatedOn | date:'dd. MM. yyyy hh:mm:ss'}}</td>
                        <td>{{user.LastLogin | date:'dd. MM. yyyy hh:mm:ss'}}</td>
                        <td>{{user.LastLoginIp}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-xs-8">
                    <button type="prev" class="btn btn-xs btn-default" ng-click="prevPage()" ng-disabled="skip == 0"><span class="fa fa-chevron-left"></span></button>
                    {{skip / take + 1}} / {{(users['odata.count'] / take) | ceil}}
                    <button type="next" class="btn btn-xs btn-default" ng-click="nextPage()" ng-disabled="skip + take >= users['odata.count']"><span class="fa fa-chevron-right"></span></button>
                </div>
                <div class="col-xs-4 text-right">
                    Število na stran: 
                    <select ng-model="take">
                        <option value="5" ng-selected="take == 5">5</option>
                        <option value="25" ng-selected="take == 25">25</option>
                        <option value="50" ng-selected="take == 50">50</option>
                        <option value="100" ng-selected="take == 100">100</option>
                    </select>
                </div>
            </div>
            
            
        </div>
    </div>
</div>