<div class="container-fluid">
    <div ng-include="'app/shared/leftMenu/patient/menuPatientView.html'"></div>
    <div class="dashboard-content" role="main">
        <div class="container-fluid">
            <div class="row">
            <div class="col-lg-12">
                <form class="form-horizontal" ng-submit="chooseDoctors()" novalidate>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <h3>Izberi / zamenjaj zdravnika</h3>
                        </div>
                        <div class="col-sm-offset-2 col-sm-10">

                        </div>
                    </div>


                    <div class="form-group">
                        <label for="personalDoctors" class="col-sm-4 control-label">Osebni zdravnik</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="personalDoctors" data-ng-options="p.name for p in personalDoctorOptions"
                                    data-ng-model="personalDoctorSelectedOption"></select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="dentistDoctors" class="col-sm-4 control-label">Zobozdravnik</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="dentistDoctors" data-ng-options="d.name for d in dentistDoctorOptions"
                                    data-ng-model="dentistDoctorSelectedOption"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" id="submit" ng-class="submit" class="btn btn-default btn-primary" data-style="expand-right">
                                Shrani izbrane zdravnike
                            </button>
                            <!--ladda=""-->
                        </div>
                    </div>
                </form>
            </div>
                </div>
        </div>
    </div>
</div>