<!-- DASHBOARD LEFT MENU  -->
<nav class="dashboard-menu" ng-controller="leftMenuCtrl">

    <!-- PROFILE INFO -->
    <div class="profile-info">
        <div class="picture">
            <img alt="profile picture" class="img-circle" src="{{avatar}}">
        </div>

        <div class="description" ng-if="doctor">
            Dobrodošel,
            {{profile.FirstName}} {{profile.LastName}}!
        </div>
        <div class="description" ng-if="patient || doctorPacientProfile">
            Pacient:
            {{profile.FirstName}} {{profile.LastName}}!
        </div>
        <div class="description" ng-if="admin || patientLogged">
            Dobrodošel,
            {{account.email}}!
        </div>
    </div>
    <!-- END PROFILE INFO -->

    <div class="menu-section">

        <ul class="side-menu" ng-show="patient">
            <li><a href="#/dashboard/patient/{{profile.Id}}"><i class="fa fa-user"></i> <i class="text">Pregled profila</i></a></li>
            <li><a href="#/dashboard/patient/{{profile.Id}}/doctors"><i class="fa fa-user-md" aria-hidden="true"></i> <i class="text">Izbor/Zamenjava zdravnikov</i></a></li>
            <li><a href="#/dashboard/patient/{{profile.Id}}/insertMeasurements"><i class="fa fa-list-ol" aria-hidden="true"></i> <i class="text">Vnos meritve</i></a></li>
            <li><a href="#/account/patient"><i class="fa fa-users"></i> <i class="text">Nazaj na izbor profila</i></a></li>
        </ul>
        <ul class="side-menu" ng-show="doctor">
            <li><a href="#/account/doctor"><i class="fa fa-user"></i> <i class="text">Profil</i></a></li>
            <li><a href="#/account/doctor/patients"><i class="fa fa-users"></i> <i class="text">Pregled pacientov</i></a></li>
            <li><a href="#/account/doctor/observation"><i class="fa fa-stethoscope" aria-hidden="true"></i> <i class="text">Nov pregled</i></a></li>
            <li><a href="#/changePassword"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <i class="text">Sprememba gesla</i></a></li>
        </ul>
        <ul class="side-menu" ng-show="doctorPacientProfile">
            <li><a href="#/account/doctor/patients"><i class="fa fa-users"></i> <i class="text">Nazaj na izbor pacienta</i></a></li>
        </ul>

        <ul class="side-menu" ng-show="patientLogged">
            <li><a href="#/account/patient"><i class="fa fa-users"></i> <i class="text">Profili</i></a></li>
            <li><a href="#/changePassword"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <i class="text">Sprememba gesla</i></a></li>
        </ul>

        <ul class="side-menu" ng-show="admin">
            <li><a href="#/account/administrator"><i class="fa fa-user"></i> <i class="text">Dodaj zdravnika/medicinsko sestro</i></a></li>
            <li><a href="#/changePassword"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <i class="text">Sprememba gesla</i></a></li>
        </ul>

    </div>

</nav>