<div class="container-fluid">
    <div ng-include="'app/shared/leftMenu/leftMenuView.html'" ng-if="profile.length != 0"></div>

    <div ng-class="profile.length == 0?{'dashboard-content-no-menu':true}:{'dashboard-content':true}" role="main">
        
        <div class="container-fluid">
             <div class="panel-body">
                    <form class="form-horizontal" ng-submit="submitObservation()" novalidate>
                        <div class="row">
                            
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-8">
                                        <h4>Pregled</h4>
                                    </div>
                                    <div class="col-sm-offset-4 col-sm-8">
                                        <div style="min-height: 22px;"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="currentPatient" class="col-sm-4 control-label">Izbor pacienta</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="currentPatient" data-ng-options='(p.FirstName + " " + p.LastName + " (ZZZS številka: " + p.HealthInsuranceNumber + ")") for p in doctorPatientsOptions''
                                    data-ng-model="selectedPatient"></select>
                                    </div>
                                    
                                </div>
                                
                                <div class="form-group">
                                    <label for="observationTime" class="col-sm-4 control-label">Datum meritve</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="observationTime" ng-model="observationTime" datetimepicker required date useCurrent format="D. M. YYYY H:mm" view-mode="years" max-date="moment().format('YYYY-MM-DD HH:mm')">
                                    </div>
                                </div>
                                      
                                            
                                <div class="form-group">
                                    <label for="notes" class="col-sm-4 control-label">Navodila ali opombe</label>
                                    <div class="col-sm-8">
                                        <textarea style="resize:vertical;" type="text" class="form-control" id="notes" ng-model="observationNotes" required></textarea>
                                    </div>
                                </div>
                                
                                
                                
                                <!-- Dodaj zaznane alergije -->
                                <div class="form-group">
                                    <label for="allergies" class="col-sm-4 control-label">Dodaj alergije</label>
                                    <div class="col-sm-8">
                                        <div id="allergies" ng-dropdown-multiselect="" options="allergyOptions" selected-model="selectedAllergies" extra-settings="multiselectSettingsAllergies"></div>
                                    </div>
                                </div>
                                <!-- Dodaj zaznane bolezni -->
                                <div class="form-group">
                                    <label for="diseases" class="col-sm-4 control-label">Dodaj bolezni</label>
                                      <div class="col-sm-8">
                                         <div id="diseases" ng-dropdown-multiselect="" options="diseaseOptions" selected-model="selectedDiseases" extra-settings="multiselectSettingsDiseases"></div>
                                    </div>
                                </div>
                                <!-- Predpiši dieto -->
                                <div class="form-group">
                                    <label for="diets" class="col-sm-4 control-label">Dodaj diete</label>
                                    <div class="col-sm-8">
                                        <div id="diets" ng-dropdown-multiselect="" options="dietOptions" selected-model="selectedDiets" extra-settings="multiselectSettingsDiets"></div>
                                    </div>
                                </div>
                                
                                <!-- Predpiši zdravila -->
                                <div class="form-group">
                                    <label for="medications" class="col-sm-4 control-label">Dodaj zdravila</label>
                                    <div class="col-sm-8">
                                        <div id="medications" ng-dropdown-multiselect="" options="medicationOptions" selected-model="selectedMedications" extra-settings="multiselectSettingsMedications"></div>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-8">
                                        <h4>Vnos meritev</h4>
                                    </div>
                                    <div class="col-sm-offset-4 col-sm-8">
                                        <div style="min-height: 22px;"></div>
                                    </div>
                                </div>
                                
                                <!-- Dodaj novo meritev -->
                                <div class="form-group">
                                    <label for="measurementChooser" class="col-sm-4 control-label">Izbor meritve</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="measurementChooser" data-ng-options="p.MeasurementName for p in measurementOptions"
                                    data-ng-model="selectedMeasurement"></select> 
                                        <input type="button" class="btn btn-default" ng-click="addNewMeasurement()" value="Dodaj meritev"/>
                                    </div>
                                </div>
                                
                                
                                <div class="panel panel-info" ng-repeat="measurement in selectedMeasurements">
                                    
                                    <div class="panel-heading">
                                            <h2 class="panel-title">{{measurement.MeasurementName}}</h2>
                                            <small>
                                                <span ng-if="measurement.MeasurementNotes.length==0">Meritev nima nobenih dodatnih opomb/navodil.</span>
                                                <span ng-if="measurement.MeasurementNotes.length>0">{{measurement.MeasurementNotes}}</span>
                                            </small>
                                    </div>
                                    
                                    <div class="panel-body">
                                        <div ng-repeat="currentMeasurementPart in measurement.MeasurementParts">
                                            <div class="form-group">
                                                <h4 class="text-center">{{currentMeasurementPart.MeasurementPartName}}</h4>
                                                <blockquote style="font-size: 12px; border-color: #bce8f1;">
                                                    <div class="container-fluid" style="padding-left:0;">
                                                        <dl class="dl-horizontal">
                                                            <dt>Glede meritve</dt>
                                                            <dd>{{currentMeasurementPart.MeasurementMore}}</dd>
                                                            <dt>Meritev opraviti</dt>
                                                            <dd>{{currentMeasurementPart.MeasurementTake}}</dd>
                                                            <dt>Čas merjenja</dt>
                                                            <dd>{{currentMeasurementPart.MeasurementTime}}</dd>
                                                            <dt>Normalne vrednosti</dt>
                                                            <dd>{{currentMeasurementPart.MeasurementNormal}}</dd>
                                                            <dt>Nizke vrednosti</dt>
                                                            <dd>{{currentMeasurementPart.MeasurementBelow}}</dd>
                                                            <dt>Ekstremne vrednosti</dt>
                                                            <dd>{{currentMeasurementPart.MeasurementExtreme}}</dd>
                                                        </dl>   
                                                    </div>
                                                                                                     
                                                </blockquote>
                                                <span hidden>{{measurementPartIds[$parent.$index + $index] = currentMeasurementPart.Id}}</span>    
                                                <label for="measurementTime{{$parent.$index + $index}}" class="col-sm-4 control-label">Datum meritve</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="measurementTime{{$parent.$index + $index}}"" ng-model="measurementTimes[$parent.$index + $index]" datetimepicker required date useCurrent format="D. M. YYYY H:mm" view-mode="years" max-date="moment().format('YYYY-MM-DD HH:mm')">
                                                </div>
                                            </div>
                                                
                                            <div class="form-group">
                                                <label for="notesMeasurement[{{$parent.$index + $index}}"" class="col-sm-4 control-label">Navodila ali opombe</label>
                                                <div class="col-sm-8">
                                                    <span></span>
                                                    <textarea style="resize:vertical;" type="text" class="form-control" id="notesMeasurement[{{$parent.$index + $index}}"" ng-model="measurementNotes[$parent.$index + $index]" required></textarea>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="valueMeasurement[{{$parent.$index + $index}}"" class="col-sm-4 control-label">Vrednost</label>
                                                <div class="col-sm-8">
                                                    <input type="number" placeholder="{{currentMeasurementPart.MeasurementUnit}}" class="form-control" id="valueMeasurement[{{$parent.$index + $index}}"" ng-model="measurementValues[$parent.$index + $index]" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                            
                            
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-8">
                                        <button type="submit" ng-submit="submitObservation()" class="btn btn-default btn-primary" ladda="submittingProfile" data-style="expand-right">
                                            <span ng-show="createClicked">Ustvari</span><span ng-hide="createClicked">Shrani</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>