<div class="container">
<!-- REGISTER -->
<form class="form-horizontal" ng-submit="register()" ng-hide="userId" novalidate>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <h3>Registracija</h3>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
            
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">E-pošta</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" ng-model="email" required email>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Geslo</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password" ng-model="password" required password>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword" class="col-sm-2 control-label">Potrdite geslo</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="confirmPassword" ng-model="confirmPassword" required password confirm-password="password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default btn-primary" ladda="registering" data-style="expand-right">Registriraj</button>
        </div>
    </div>
</form>

<!-- CREATE PROFILE -->
<form class="form-horizontal" ng-show="userId" ng-submit="createProfile()" novalidate>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <h3>Uporabniški profil</h3>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
            Bi radi ustvarili še uporabmiški profil?
        </div>
    </div>
    <div class="form-group">
        <label for="healthInsuranceNumber" class="col-sm-2 control-label">ZZZS številka</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="healthInsuranceNumber" ng-model="healthInsuranceNumber" required  health-insurance-number>
        </div>
    </div>
    <div class="form-group">
        <label for="firstName" class="col-sm-2 control-label">Ime</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="firstName" ng-model="firstName" required>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName" class="col-sm-2 control-label">Priimek</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="lastName" ng-model="lastName" required>
        </div>
    </div>
    <div class="form-group">
        <label for="address" class="col-sm-2 control-label">Naslov</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="address" ng-model="address" required>
        </div>
    </div>
    <div class="form-group">
        <label for="post" class="col-sm-2 control-label">Poštna številka</label>
        <div class="col-sm-10">
            <select class="form-control" id="post" ng-model="post" required>
                <option value="{{p.PostNumber}}" ng-repeat="p in posts" ng-selected="post == p.PostNumber">{{p.PostNumber}} - {{p.PostName}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="telephone" class="col-sm-2 control-label">Telefon</label>
        <div class="col-sm-10">
            <input type="tel" class="form-control" id="telephone" ng-model="telephone" required telephone-number>
        </div>
    </div>
    <div class="form-group">
        <label for="birthDate" class="col-sm-2 control-label">Datum rojstva</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="birthDate" ng-model="birthDate" datetimepicker required date view-mode="years" max-date="moment().format('YYYY-MM-DD')">
        </div>
    </div>
    <div class="form-group">
        <label for="gender" class="col-sm-2 control-label">Spol</label>
        <div class="col-sm-10">
            <div class="radio">
                <label>
                    <input type="radio" name="gender" id="gender0" value="Ženski" ng-model="gender" ng-checked="true">
                    Ženski
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="gender" id="gender1" value="Moški" ng-model="gender">
                    Moški
                </label>
            </div>
        </div>
    </div>
        
    <!-- CONTACT -->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <h3>Kontaktne informacije</h3>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
            <input type="checkbox" ng-model="sameContactInfo"> Uporabi podatke uporabniškega profila
        </div>
    </div>
    <div class="form-group">
        <label for="contactFirstName" class="col-sm-2 control-label">Ime</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="contactFirstName" ng-model="contactFirstName" ng-disabled="sameContactInfo" required>
        </div>
    </div>
    <div class="form-group">
        <label for="contactLastName" class="col-sm-2 control-label">Priimek</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="contactLastName" ng-model="contactLastName" ng-disabled="sameContactInfo" required>
        </div>
    </div>
    <div class="form-group">
        <label for="contactAddress" class="col-sm-2 control-label">Naslov</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="contactAddress" ng-model="contactAddress" ng-disabled="sameContactInfo" required>
        </div>
    </div>
    <div class="form-group">
        <label for="contactPost" class="col-sm-2 control-label">Pošta</label>
        <div class="col-sm-10">
            <!--<input type="text" class="form-control" id="contactPost" ng-model="contactPost" ng-disabled="sameContactInfo"
            required post-number>-->
            <select class="form-control" id="post" ng-model="contactPost" required>
                <option value="{{p.PostNumber}}" ng-repeat="p in posts" ng-selected="contactPost == p.PostNumber">{{p.PostNumber}} - {{p.PostName}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="contactTelephone" class="col-sm-2 control-label">Telefon</label>
        <div class="col-sm-10">
            <input type="tel" class="form-control" id="contactTelephone" ng-model="contactTelephone" ng-disabled="sameContactInfo" required telephone-number>
        </div>
    </div>
    <div class="form-group">
        <label for="contactFamilyRelationship" class="col-sm-2 control-label">Družinska relacija</label>
        <div class="col-sm-10">
            <select class="form-control" id="contactFamilyRelationship" ng-model="contactFamilyRelationship" ng-disabled="sameContactInfo" required>
                <option value="" disabled selected>Jaz sem _____ zgornjega profila.</option>
                <option value="Jaz">Jaz</option>
                <option value="Starš">Starš</option>
                <option value="Otrok">Otrok</option>
                <option value="Brat ali sestra">Brat ali sestra</option>
                <option value="Stari starš">Stari starš</option>
                <option value="Vnuk">Vnuk</option>
                <option value="Nečak ali nečakinja">Nečak ali nečakinja</option>
                <option value="Bratranec ali sestrična">Bratranec ali sestrična</option>
                <option value="Stric ali teta">Stric ali teta</option>
                <option value="Ostalo">Ostalo</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default btn-primary" ladda="creatingProfile" data-style="expand-right">Ustvari</button>
            <button type="skip" class="btn btn-default" ng-click="skip()">Preskoči</button>
        </div>
    </div>
</form>
</div>
