<div class="container">
<!-- REGISTER -->
<form class="form-horizontal" ng-submit="register()" ng-hide="userId" novalidate>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <h3>Registracija</h3>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
            
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">E-pošta</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" ng-model="email" required email>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Geslo</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password" ng-model="password" required password>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword" class="col-sm-2 control-label">Potrdite geslo</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="confirmPassword" ng-model="confirmPassword" required password confirm-password="password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default btn-primary" ladda="registering" data-style="expand-right">Registriraj</button>
        </div>
    </div>
</form>
<!-- CREATE PROFILE -->
<form class="form-horizontal" ng-show="userId" novalidate>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <h3>Uporabniški profil</h3>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
            Bi radi ustvarili še uporabmiški profil?
        </div>
    </div>
    <div class="form-group">
        <label for="healthInsuranceNumber" class="col-sm-2 control-label">ZZZS številka</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="healthInsuranceNumber" ng-model="healthInsuranceNumber" required  health-insurance-number>
        </div>
    </div>
    <div class="form-group">
        <label for="firstName" class="col-sm-2 control-label">Ime</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="firstName" ng-model="firstName" required>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName" class="col-sm-2 control-label">Priimek</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="lastName" ng-model="lastName" required>
        </div>
    </div>
    <div class="form-group">
        <label for="birthDate" class="col-sm-2 control-label">Datum rojstva</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="birthDate" ng-model="birthDate" datetimepicker required date view-mode="years">
        </div>
    </div>
    <div class="form-group">
        <label for="birthDate" class="col-sm-2 control-label">Spol</label>
        <div class="col-sm-10">
            <div class="radio">
                <label>
                    <input type="radio" name="gender" id="gender0" value="female" checked>
                    Ženski
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="gender" id="gender1" value="male">
                    Moški
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default btn-primary" ladda="creating" data-style="expand-right" ng-submit="submit()">Ustvari</button>
            <button type="skip" class="btn btn-default" ng-click="skip()">Preskoči</button>
        </div>
    </div>
</form>
</div>
