/* BUTTONS && INPUTS */
input,
.form-control {
    border-radius: 0px;
}
.btn {
    border-radius: 0px;
}

/* ALERTS */
.alert {
    border-radius: 0px;
    border-width: 1px;
    border-right-width: 10px;
    background-color: white;
}

.alert.alert-success {
    color: #5cb85c;
    border-color: #5cb85c;
}

.alert.alert-danger {
    color: #d9534f;
    border-color: #d9534f;;
}

.alert.alert-warning {
    color: #f0ad4e;
    border-color: #f0ad4e;
}

.alert.alert-info {
    color: #5bc0de;
    border-color: #5bc0de;
}

.bootstrap-datetimepicker-widget * {
    border-radius: 0px;
}

.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th,
.bootstrap-datetimepicker-widget table td span  {
    border-radius: 0px;
}

.panel {
    border-radius: 0px;
}

table th,
table td {
    width: auto !important;
}

/* DASHBOARD  */

/* potrebno nastaviti, da deluje height:100% pri container-fluid.ng-scope  */
body, html {
    height: 100%;
}

.container-fluid.ng-scope {
    position: relative;
    padding: 0;
    top: -18px;
    color: white;
    height: 100%;
}

.dashboard-menu {
    position: fixed;
    width: 230px;
    height: 100%;
    background: #2A3F54;
    left: 0;
    top: 50px;
}

.dashboard-menu.collapsed {
    width: 48px;
    text-align: center;
}

.dashboard-menu.collapsed .profile-info {
    display: none;
}

.dashboard-menu.collapsed .side-menu .fa {
    font-size: 2em;
}

.dashboard-menu.collapsed .side-menu .text {
    display: none;
}

.dashboard-menu.collapsed li {
    width: 100%;
    text-align: center;
}

.dashboard-menu.collapsed .side-menu > li {
    padding: 0;
    height: 32px;
} 


.side-menu {
    padding-top: 24px;
    padding-left: 0;
}

.side-menu .fa {
    font-size: 1.3em;    
}

.side-menu > li {
    padding-left: 20px;
    height: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.side-menu > li:hover {
    background: #3E5367;
}

.menu-section .side-menu a  {
    color: #E7E7E7;
    height: 100%;
    display: block;
    text-decoration: none;
}

.profile-info {
    margin-top: 18px;    
}

.profile-info > .description {
    margin-left: 12px;
    font-size: 1.2em;
    font-weight: 300;   
}

.side-menu .text {
    margin-left: 12px;
    font-size: 1.1em;
} 

.profile-info > .picture > img {
    margin-left: 12px;
    padding-bottom: 10px;
    border-radius: 20px;     
    max-width: 120px;
}

.dashboard-content {
    margin-left: 230px;
    width: calc(100% - 230px);
    color: black;
    padding-top: 18px;
}

.dashboard-content .row {
    padding-bottom: 18px;
}

.dashboard-content-no-menu {
    width: 100%;
    color: black;
    padding-top: 18px;
}

.dashboard-content-no-menu .row {
    padding-bottom: 18px;
}
/* END DASHBOARD */
.print-hide {
    display: initial;
}
.print-show {
    display: none;
}

a {
    cursor: pointer;
}

@media print {
    body {
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: auto;
    }
    .dashboard-content {
        margin: 0px;
        width: 100%;
        height: auto;
    }
    .print-hide {
        display: none;
    }
    .print-show {
        display: initial;
    }
}
