<div class="container-fluid">

    <div ng-include="'app/shared/leftMenu/leftMenuView.html'"></div>


    <!-- DASHBOARD CONTENT -->
    <div class="dashboard-content" role="main">
        <div class="container-fluid">
<!-- UPORABIŠKI PROFILI -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Uporabniški profili</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                        <th>ZZZS številka</th>
                        <th>Ime</th>
                        <th>Priimek</th>
                        <th>Spol</th>
                        <th>Rojstni dan</th>
                        <th class="text-right">
                            <button class="btn btn-xs btn-success glyphicon glyphicon-plus" ng-click="create()"></button>
                        </th>
                        </thead>
                        <tbody>
                        <tr ng-show="!profiles">
                            <td colspan="6" class="text-center">Prosim počakajte ...</td>
                        </tr>
                        <tr ng-show="profiles && profiles.length == 0">
                            <td colspan="6" class="text-center">Prosim ustvarite prvi pofil.</td>
                        </tr>
                        <tr id="{{profile.Id}}" ng-repeat="profile in profiles">
                            <td>{{profile.HealthInsuranceNumber}}</td>
                            <td>{{profile.FirstName}}</td>
                            <td>{{profile.LastName}}</td>
                            <td>{{profile.Gender}}</td>
                            <td>{{profile.BirthDate | date:'d. M. yyyy'}}</td>
                            <td class="text-right">
                                <button class="btn btn-xs btn-default glyphicon glyphicon-user" data-toggle="tooltip" data-placement="top" title="Nadzorna plošča profila" tooltip ng-click="dashboard($index)"></button>
                                <button class="btn btn-xs btn-default glyphicon glyphicon-eye-open" ng-click="open($index)" ng-hide="profile.opened"></button>
                                <button class="btn btn-xs btn-default glyphicon glyphicon-eye-close" ng-click="close($index)" ng-show="profile.opened"></button>
                                <button class="btn btn-xs btn-danger glyphicon glyphicon-trash" ng-click="delete($index)" ladda="deletingProfile[$index]" data-style="expand-right"></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-body" ng-show="viewClicked || createClicked">
                    <form class="form-horizontal" ng-submit="submitProfile()" novalidate>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-8">
                                        <h4>Uporabniški profil</h4>
                                    </div>
                                    <div class="col-sm-offset-4 col-sm-8">
                                        <div style="min-height: 22px;"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="healthInsuranceNumber" class="col-sm-4 control-label">ZZZS številka</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="healthInsuranceNumber" ng-model="formData.HealthInsuranceNumber" required  health-insurance-number>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="firstName" class="col-sm-4 control-label">Ime</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="firstName" ng-model="formData.FirstName" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="lastName" class="col-sm-4 control-label">Priimek</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="lastName" ng-model="formData.LastName" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="address" class="col-sm-4 control-label">Naslov</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="address" ng-model="formData.Address" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="post" class="col-sm-4 control-label">Poštna številka</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="post" ng-model="formData.PostNumber" required>
                                            <option value="{{post.PostNumber}}" ng-repeat="post in posts" ng-selected="formData.PostNumber == post.PostNumber">{{post.PostNumber}} - {{post.PostName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="telephone" class="col-sm-4 control-label">Telefon</label>
                                    <div class="col-sm-8">
                                        <input type="tel" class="form-control" id="telephone" ng-model="formData.Telephone" required telephone-number>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="birthDate" class="col-sm-4 control-label">Datum rojstva</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="birthDate" ng-model="formData.BirthDate" datetimepicker date required view-mode="years">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="gender" class="col-sm-4 control-label">Spol</label>
                                    <div class="col-sm-8">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="gender" id="gender0" value="Ženski" ng-model="formData.Gender" ng-checked="formData.Gender == 'Ženski'" required>
                                                Ženski
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="gender" id="gender1" value="Moški" ng-model="formData.Gender" ng-checked="formData.Gender == 'Moški'" required>
                                                Moški
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-8">
                                        <h4>Kontaktne informacije</h4>
                                    </div>
                                    <div class="col-sm-offset-4 col-sm-8">
                                        <input type="checkbox" ng-model="sameContactInfo"> Uporabi podatke uporabniškega profila
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="contactFirstName" class="col-sm-4 control-label">Ime</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="contactFirstName" ng-model="formData.ContactFirstName" ng-disabled="sameContactInfo" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="contactLastName" class="col-sm-4 control-label">Priimek</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="contactLastName" ng-model="formData.ContactLastName" ng-disabled="sameContactInfo" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="contactAddress" class="col-sm-4 control-label">Naslov</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="contactAddress" ng-model="formData.ContactAddress" ng-disabled="sameContactInfo" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="contactPost" class="col-sm-4 control-label">Pošta</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="post" ng-model="formData.ContactPostNumber" required>
                                            <option value="{{post.PostNumber}}" ng-repeat="post in posts" ng-selected="formData.ContactPostNumber == post.PostNumber">{{post.PostNumber}} - {{post.PostName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="contactTelephone" class="col-sm-4 control-label">Telefon</label>
                                    <div class="col-sm-8">
                                        <input type="tel" class="form-control" id="contactTelephone" ng-model="formData.ContactTelephone" ng-disabled="sameContactInfo" required telephone-number>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="contactFamilyRelationship" class="col-sm-4 control-label">Družinska relacija</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="contactFamilyRelationship" ng-model="formData.ContactFamilyRelationship" ng-disabled="sameContactInfo" required>
                                            <option value="" disabled selected>Jaz sem _____ zgornjega profila.</option>
                                            <option value="Jaz">Jaz</option>
                                            <option value="Starš">Starš</option>
                                            <option value="Otrok">Otrok</option>
                                            <option value="Brat ali sestra">Brat ali sestra</option>
                                            <option value="Stari starš">Stari starš</option>
                                            <option value="Vnuk">Vnuk</option>
                                            <option value="Nečak ali nečakinja">Nečak ali nečakinja</option>
                                            <option value="Bratranec ali sestrična">Bratranec ali sestrična</option>
                                            <option value="Stric ali teta">Stric ali teta</option>
                                            <option value="Ostalo">Ostalo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-8">
                                        <button type="submit" class="btn btn-default btn-primary" ladda="submittingProfile" data-style="expand-right">
                                            <span ng-show="createClicked">Ustvari</span><span ng-hide="createClicked">Shrani</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
                <!-- /UPORABIŠKI PROFILI -->
            </div>
        </div>
    </div>