<nav class="dashboard-menu" ng-controller="dashboardAdministrator">

    <!-- PROFILE INFO -->
    <div class="profile-info">
        <div class="picture">
            <img alt="profile picture" class="img-circle" src="https://api.adorable.io/avatars/182/tpo10.png">
        </div>

        <div class="description">
            Dobrodošel, {{account.email}}!
        </div>
    </div>
    <!-- END PROFILE INFO -->

    <div class="menu-section">

        <ul class="side-menu">
            <li><a href="#/account/administrator"><i class="fa fa-user"></i> <i class="text">Dodaj zdravnika/medicinsko sestro</i></a></li>
        </ul>

    </div>

</nav>