<div class="container-fluid">
<div ng-include="'app/shared/leftMenu/leftMenuView.html'"></div>
<div class="dashboard-content" role="main">
    <div class="container">
        
        <div class="row" ng-hide="isDoctor">
          <div class="col-md-6">
              <table class="table table-hover" >
                <h4>Izberite zdravnika, pri katerem želite opraviti pregled:</h4>
                <tr>
                    <select class="form-control" id="desiredDoctor" ng-model="selectedDoctor" ng-options="x.DoctorKey + ' - ' +
                       x.FirstName + ' '+ x.LastName for x in doctorOptions | orderBy:'DoctorKey'" required></select>
                </tr>
              </table>
          </div>
        </div>
        
        <section id="directives-calendar">
            <div class="page-header">
                <h1>Koledar pregledov:</h1>
            </div>
            <div class="well">
                    <div class="row-fluid">
                    <div class="span8">
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar1')">Dan</button>
                                <button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar1')">Teden</button>
                                <button class="btn btn-success" ng-click="changeView('month', 'myCalendar1')">Mesec</button>
                            </div>
                        </div>
                        <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
    </div>

