<div class="container-fluid">

  <div ng-include="'app/shared/leftMenu/leftMenuView.html'"></div>
  
  
  <!-- DASHBOARD CONTENT -->
  <div class="dashboard-content" role="main">
    <div class="container-fluid">

      <div class="row">
          <div class="col-md-6">
              <table class="table table-hover">
                <h2>Osebni podatki</h2>
                <tr>
                  <th>ZZZS številka</td>
                  <td>{{profile.HealthInsuranceNumber}}</td>
                </tr>
                <tr>
                  <th>Ime</td>
                  <td>{{profile.FirstName}}</td>
                </tr>
                <tr>
                  <th>Priimek</td>
                  <td>{{profile.LastName}}</td>
                </tr>
                <tr>
                  <th>Naslov</td>
                  <td>{{profile.Address}}</td>
                </tr>
                <tr>
                  <th>Poštna številka</td>
                  <td>{{profile.PostNumber}}</td>
                </tr>
                <tr>
                  <th>Telefon</td>
                  <td>{{profile.Telephone}}</td>
                </tr>
                <tr>
                  <th>Datum rojstva</td>  
                  <td>{{profile.BirthDate}}</td>
                </tr>
                <tr>
                  <th>Spol</td>
                  <td>{{profile.Gender}}</td>
                </tr>                
              </table>
          </div>
          <div class="col-md-6">
              <table class="table table-hover">
                <h2>Podatki kontaktne osebe</h2>
                <tr>
                  <th>Ime</td>
                  <td>{{profile.ContactFirstName}}</td>
                </tr>
                <tr>
                  <th>Priimek</td>
                  <td>{{profile.ContactLastName}}</td>
                </tr>
                <tr>
                  <th>Naslov</td>
                  <td>{{profile.ContactAddress}}</td>
                </tr>
                <tr>
                  <th>Pošta</td>
                  <td>{{profile.ContactPostNumber}}</td>
                </tr>
                <tr>
                  <th>Telefon</td>
                  <td>{{profile.ContactTelephone}}</td>
                </tr>
                <tr>
                  <th>Družinska relacija</td>
                  <td>{{profile.ContactFamilyRelationship}}</td>
                </tr>             
              </table>
          </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <table class="table table-hover" ng-if="profile.PersonalDoctor!=null">
            <h2>Osebni zdravnik</h2>
            <p ng-if="profile.PersonalDoctor==null">Pacient še nima izbranega osebnega zdravnika!</p>
            <tr>
              <th>Ime</th>
              <td>{{profile.PersonalDoctor.FirstName}}</td>
            </tr>
            <tr>
              <th>Priimek</th>
              <td>{{profile.PersonalDoctor.LastName}}</td>
            </tr>
            <tr>
              <th>Telefon</th>
              <td>{{profile.PersonalDoctor.Telephone}}</td>
            </tr>
          </table>
        </div>
          <div class="col-md-6">
          <table class="table table-hover" ng-if="profile.DentistDoctor!=null">
            <h2>Zobozdravnik</h2>
            <p ng-if="profile.DentistDoctor==null">Pacient še nima izbranega zobozdravnika!</p>
            <tr>
              <tr>
              <th>Ime</th>
              <td>{{profile.DentistDoctor.FirstName}}</td>
            </tr>
            <tr>
              <th>Priimek</th>
              <td>{{profile.DentistDoctor.LastName}}</td>
            </tr>
            <tr>
              <th>Telefon</th>
              <td>{{profile.DentistDoctor.Telephone}}</td>
            </tr>
          </table>
        </div>
      </div>

        <div class="row">
            <div class="col-md-6">
                <table class="table table-hover" ng-if="oldObservations.length != 0">
                    <h2>Opravljeni pregledi</h2>
                    <p ng-if="oldObservations.length == 0">Pacient še ni bil pri zdravniku!</p>
                    <thead>
                    <th>Datum</th>
                    <th>Zdravnik</th>
                    <th class="text-right">
                        <button class="btn btn-xs btn-default glyphicon glyphicon-eye-open" ng-click="openOldObservations()" ng-hide="oldObservations.opened"></button>
                        <button class="btn btn-xs btn-default glyphicon glyphicon-eye-close" ng-click="closeOldObservations()" ng-show="oldObservations.opened"></button>
                    </th>
                    </thead>
                    <tr id="{{oldObservations.Name}}" style="cursor:pointer;" ng-repeat="obs in oldObservations" ng-click="showObservationDetails($index)">
                        <td>{{obs.ObservationTime | date:'d.M.yyyy H:m' }}</td>
                        <td>{{obs.DoctorName}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-hover" ng-if="false">
                    <h2>Prihajajoči pregledi</h2>
                    <p>Pacient nima prihajajočih pregledov!</p>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-hover" ng-if="alergy.length != 0">
                    <h2>Alergije</h2>
                    <p ng-if="alergy.length == 0">Pacient še nima zaznanih alergij!</p>
                    <thead>
                        <th>Ime</th>
                        <th class="text-right">
                            <button class="btn btn-xs btn-default glyphicon glyphicon-eye-open" ng-click="openAlergy()" ng-hide="alergy.opened"></button>
                            <button class="btn btn-xs btn-default glyphicon glyphicon-eye-close" ng-click="closeAlergy()" ng-show="alergy.opened"></button>
                        </th>
                    </thead>
                    <tr id="{{alergy.Name}}" ng-repeat="alg in alergy">
                        <td>{{alg.Name}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-hover" ng-if="diseases.length != 0">
                    <h2>Bolezni</h2>
                    <p ng-if="diseases.length == 0">Pacient še ni imel bolezni!</p>
                    <thead>
                    <th>Datum vnosa</th>
                    <th>Ime</th>
                    <th>Vnesel</th>
                    <th class="text-right">
                        <button class="btn btn-xs btn-default glyphicon glyphicon-eye-open" ng-click="openDiseases()" ng-hide="diseases.opened"></button>
                        <button class="btn btn-xs btn-default glyphicon glyphicon-eye-close" ng-click="closeDiseases()" ng-show="diseases.opened"></button>
                    </th>
                    </thead>
                    <tr id="{{diseases.DiseaseName}}" ng-repeat="dis in diseases">
                        <td>{{dis.ObservationTime | date:'d.M.yyyy H:m' }}</td>
                        <td>{{dis.DiseaseName}}</td>
                        <td>{{dis.DoctorName}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <table class="table table-hover" ng-if="diets.length != 0">
                    <h2>Diete</h2>
                    <p ng-if="diets.length == 0">Pacient še nima predpisane diete!</p>
                    <thead>
                    <th>Datum vnosa</th>
                    <th>Ime</th>
                    <th>Navodila</th>
                    <th>Vnesel</th>
                    <th class="text-right">
                        <button class="btn btn-xs btn-default glyphicon glyphicon-eye-open" ng-click="openDiets()" ng-hide="diets.opened"></button>
                        <button class="btn btn-xs btn-default glyphicon glyphicon-eye-close" ng-click="closeDiets()" ng-show="diets.opened"></button>
                    </th>
                    </thead>
                    <tr id="{{diets.DietName}}" ng-repeat="diet in diets">
                        <td>{{diet.ObservationTime | date:'d.M.yyyy H:m'}}</td>
                        <td>{{diet.DietName}}</td>
                        <td ng-repeat="dietUrl in diet.DietUrl"><a href="{{dietUrl.Url}}">Povezava do navodil</a></td>
                        <td>{{diet.DoctorName}}</td>
                    </tr>
                </table>
            </div>

            <div class="col-md-6">
                <table class="table table-hover" ng-if="medications.length != 0">
                    <h2>Zdravila</h2>
                    <p ng-if="medications.length == 0">Pacient še nima predpisanih zdravil!</p>
                    <thead>
                    <th>Datum vnosa</th>
                    <th>Ime</th>
                    <th>Navodila</th>
                    <th>Vnesel</th>
                    <th class="text-right">
                        <button class="btn btn-xs btn-default glyphicon glyphicon-eye-open" ng-click="openMedications()" ng-hide="medications.opened"></button>
                        <button class="btn btn-xs btn-default glyphicon glyphicon-eye-close" ng-click="closeMedications()" ng-show="medications.opened"></button>
                    </th>
                    </thead>
                    <tr id="{{medications.DietName}}" ng-repeat="medication in medications">
                        <td>{{medication.ObservationTime | date:'d.M.yyyy H:m'}}</td>
                        <td>{{medication.MedicationName}}</td>
                        <td><a href="{{medication.MedicationUrl}}">Povezava do navodil </a></td>
                        <td>{{medication.DoctorName}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-hover" ng-if="measurements.length != 0">
                    <h2>Meritve</h2>
                    <p ng-if="measurements.length == 0">Pacient še nima meritev!</p>
                    <thead>
                    <th>Datum vnosa</th>
                    <th>Ime</th>
                    <th>Izmerjeno</th>
                    <th>Vnesel</th>
                    <th class="text-right">
                        <button class="btn btn-xs btn-default glyphicon glyphicon-eye-open" ng-click="openMeasurements()" ng-hide="measurements.opened"></button>
                        <button class="btn btn-xs btn-default glyphicon glyphicon-eye-close" ng-click="closeMeasurements()" ng-show="measurements.opened"></button>
                    </th>
                    </thead>
                    <tr id="measurement.MeasurementTime" ng-repeat="measurement in measurements">
                        <td>{{measurement.MeasurementTime | date:'d.M.yyyy H:m'}}</td>
                        <td>{{measurement.MeasurementPartName}}</td>
                        <td>{{measurement.Value + measurement.MeasurementUnit}}</td>
                        <td>{{measurement.DoctorName}}</td>
                    </tr>
                </table>
            </div>
        </div>
      
      
<!--      
      <div class="row">
          <div class="col-md-6">
            <img class="img-responsive" src="http://placehold.it/500x300">
          </div>
          <div class="col-md-6">
            <img class="img-responsive" src="http://placehold.it/500x300">
          </div>
      </div>
      
      
      <div class="row">
          <div class="col-md-4">
            <img class="img-responsive" src="http://placehold.it/320x300">
          </div>
          <div class="col-md-4">
            <img class="img-responsive" src="http://placehold.it/320x300">
          </div>
          <div class="col-md-4">
            <img class="img-responsive" src="http://placehold.it/320x300">
          </div>
      </div>-->
      
    </div>
  </div>
  <!-- END OF DASHBOARD CONTENT -->
  
  
</div>


<script type="text/ng-template" id="observationDetailsTemplate">
      <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Podobni podatki pregleda</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="assets/images/observation.png" class="img-circle img-responsive"> </div>
                
           
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>Datum pregleda</td>
                        <td>{{selectedObservation.ObservationTime}}</td>
                      </tr>
                      <tr>
                        <td>Pregled opravil</td>
                        <td>dr. {{selectedObservation.DoctorProfile.FirstName}} {{selectedObservation.DoctorProfile.LastName}}</td>
                      </tr>
                      <tr>
                        <td>Opombe</td>
                        <td>{{selectedObservation.Notes}}</td>
                      </tr>
                     
                    </tbody>
                  </table>
                  
                <table class="table table-hover">
                    <h3>Predpisana zdravila</h3>
                    <p ng-if="selectedObservation.Medications.length == 0">Ni predpisanih zdravil!</p>
                    <colgroup>
                        <col style="width:70%">
                        <col style="width:30%">
                    </colgroup>
                    <thead ng-if="selectedObservation.Medications.length > 0">
                        <th>Ime zdravila</th>
                        <th>Povezava</th>
                    </thead>
                    
                    <tr ng-repeat="medication in selectedObservation.Medications">
                        <td>{{medication.MedicationName}}</td>
                        <td><a href="{{medication.MedicationInstruction.Url}}">Navodila</a></td>
                    </tr>
                </table>
                
                 <table class="table table-hover">
                    <h3>Predpisane diete</h3>
                    <p ng-if="selectedObservation.Diets.length == 0">Ni predpisanih diet!</p>
                    <colgroup>
                        <col style="width:70%">
                        <col style="width:30%">
                    </colgroup>
                    <thead ng-if="selectedObservation.Diets.length > 0">
                        <th>Ime diete</th>
                        <th>Povezava</th>
                    </thead>
                    
                    <tr ng-repeat="diet in selectedObservation.Diets">
                        <td>{{diet.DietName}}</td>
                        <td ng-repeat="dietInstruction in diet.DietInstructions">
                            <a href="{{dietInstruction.Url}}">[Navodila {{$index+1}}] </a>
                        </td>
                    </tr>
                </table>
                
                
                 <table class="table table-hover">
                    <h3>Diagnoza - Bolezni</h3>
                    <p ng-if="selectedObservation.Diseases.length == 0">Ni diagnosticiranih bolezni!</p>
                    <thead ng-if="selectedObservation.Diseases.length > 0">
                        <th>Naziv bolezni</th>
                    </thead>
                    
                    <tr ng-repeat="disease in selectedObservation.Diseases">
                        <td>{{disease.DiseaseName}}</td>
                    </tr>
                </table>
                
                
                <table class="table table-hover">
                    <h3>Diagnoza - Alergije</h3>
                    <p ng-if="selectedObservation.Allergies.length == 0">Ni diagnosticiranih alergij!</p>
                    <thead ng-if="selectedObservation.Allergies.length > 0">
                        <th>Naziv alergije</th>
                    </thead>
                    
                    <tr ng-repeat="allergy in selectedObservation.Allergies">
                        <td>{{allergy.AllergyName}}</td>
                    </tr>
                </table>    
                
                <table class="table table-hover">
                    <h3>Podatki o meritvah</h3>
                  
                    <p ng-if="selectedObservation.ObservationMeasurements.length == 0">Ni podatkov o meritvah!</p>
                    <thead ng-if="selectedObservation.ObservationMeasurements.length > 0">
                        <th>Del meritve</th>
                        <th>Čas</th>
                        <th>Vrednost</th>
                        <th>Opombe</th>
                    </thead>
                    
                    <tr ng-repeat="measurement in selectedObservation.ObservationMeasurements">
                        <td>{{measurement.MeasurementPart.MeasurementPartName}}</td>
                        <td>{{measurement.MeasurementTime}}</td>
                        <td>{{measurement.Value}} {{measurement.MeasurementPart.MeasurementUnit}}</td>
                        <td ng-if="measurement.Notes != null || measurement.Notes != ''">
                            <span ng-show="measurement.Notes == null || measurement.Notes == ''">/</span>
                            {{measurement.Notes}}
                        </td>
                    </tr>
                </table>   
            </div>
          </div>
        </div>
    </div>
</script>